[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = "*"
sqlalchemy = "*"
pymysql = "*"
mysql-connector-python = "*"
swagger-ui-bundle = "*"
pykafka = "*"

[dev-packages]

[requires]
python_version = "3.8"
